<!DOCTYPE html>
<html>
<head>
  <title>SHDH.SG - The Order of Awesomeness</title>
  <%= stylesheet_link_tag    "reset" %>
  <%= stylesheet_link_tag    "text" %>
  <%= stylesheet_link_tag    "960" %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script src="http://cdn.jquerytools.org/1.2.5/jquery.tools.min.js"></script>
  <%= javascript_include_tag "twitter-text" %>
  <%= javascript_include_tag "jquery.supertextarea.min" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="navigation">
	<div class="wrap container_16">
		<%= render :partial => 'shared/flash', :locals => {:flash => flash} %>
		<%= render :partial => 'shared/user_nav' %>
	</div>
</div>
<div id="header">
	<div class="wrap container_16">
		<h1>The Order of Awesomeness</h1>
		<%= link_to image_tag("the_order_of_awesomeness_06.png"), root_url %>
	</div>
</div>
<div id="main">
	<div class="wrap container_16">
		<%= yield %>
	</div>
</div>
<div id="footer">
	<div class="wrap container_16">
		<p>Made using EBDD by Jiayuan, Alex Nguyen (<a href="http://vinova.sg/">vinova.sg</a>) and Khoi &amp; Isaac (<a href="http://table55.org/">table55.org</a>) with lots of TLC from the great folks at <a href="http://www.facebook.com/the.pigeonhole">The Pigeonhole</a> during #shdhsg</p>
	</div>
</div>
</body>
</html>
